<form class="form-group">
  <input type="text" name="userName" class="form-control" placeholder="Username" />
  <input type="password" name="password" class="form-control" placeholder="Password"/>
  <input type="text" name="email" class="form-control" placeholder="Email" />
  <input type="text" name="email" class="form-control" placeholder="Email Confirm" />
  <input type="text" name="firstName" class="form-control" placeholder="Firstname"/>
  <input type="text" name="lastName" class="form-control" placeholder="Lastname"/>
</form>
