// styles in src/style directory are applied to the whole page

@import 'var';

html{
    height: 100%;
}

body {
    background: $grey1;
    color: white;
    margin: 0;
    height: 100%;
}

a, a:hover {
    color: white;
    text-decoration-style: none;
}
