// styles in src/style directory are applied to the whole page

$white: #FFF;

$header: #40335A;

$background: #262A2B;

$greyFocus: #C9CDD1;
$greyUnfocus: #4E5967;

body {
    background: $background;
    color: $white;
}

a, a:hover {
    color: $white;
}
