// styles in src/style directory are applied to the whole page

$white: #FFF;

$header: #87318C;

$background: #262A2B;

$greyFocus: #C9CDD1;
$greyUnfocus: #4E5967;

html{
    height: 100%;
}
body {
    background: $background;
    color: $white;
    margin: 0;
    height: 100%;
}

a, a:hover {
    color: $white;
}
