<div id="settingPage">
  <div id="navigation">
    <ul>
      <li class='' [routerLink]="['/organisation']" >go back</li>
      <li class='' (click)="profilClick()">Profil</li>
      <li class='' (click)="organisationClick()">Organisation</li>
      <li class='' (click)="channelClick()">Channel</li>
      <li class='' (click)="clientClick()">Client</li>
      <li class='' (click)="rightClick()">Right</li>
    </ul>
  </div>
  <div id="content">
    <div id="profil" *ngIf="nav === 'profil'">
      <form>
        <div id="mainProfil">
          <div id="avatar">
            <img src="" class="avatar" />
            <a>Change your avatar</a>
          </div>
          <div id="userInformation">
            <input type="text" name="nickname" [(ngModel)]="currentUser.nickName" class="form-control" />
            <input type="text" name="name" [(ngModel)]="currentUser.firstName" class="form-control" disabled />
            <input type="text" name="lastname" [(ngModel)]="currentUser.lastName" class="form-control" disabled />
            <input type="email" name="email" [(ngModel)]="currentUser.email" class="form-control" />
            <input type="password" name="password" class="form-control" />
          </div>
        </div>
        <div id="group">
          list of groups
        </div>
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

    <div id="organisation" *ngIf="nav === 'organisation'">
      <form>
        <div id="organisationInformation">
          <input type="text" name="email" placeholder="organisation name" class="form-control" />
          <textarea name="description" placeholder="description of organisation" class="form-control"> </textarea>
          <label>private</label>
          <input type="checkbox" checked data-toggle="toggle">
        </div>
        <div id="members">
          All members
        </div>
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

    <!-- Channel Text -->
    <div id="channel" *ngIf="nav === 'channel'">
      <form>
        <div class="title_channel" (click)="hideText()">
          <div class="label">Channel Text</div>
          <div class="hide-mod" *ngIf="hideT === true">+</div>
          <div class="hide-mod" *ngIf="hideT === false">-</div>
          </div>
        <table class="table table-hover channel-list" *ngIf="hideT !== true">
          <thead>
            <td>Name</td> <td> description </td> <td>private</td><td></td><td></td>
          </thead>
          <tr *ngFor="let channelT of channelsText" id="{{'channel' + channelT._idChannel}}"
        (click)="oneChannelClick(channelT._idChannel)">
            <td><input name="channelName" type="text" class="form-control name" [(ngModel)]="channelT.channelName" [ngModelOptions]="{standalone: true}" /></td>
            <td><input type="text" class="form-control description" [(ngModel)]="channelT.description" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="checkbox" checked data-toggle="toggle"></td>
            <td><button class='button button-glow button-rounded button-royal' (click)=modifyChannel(channelT)>Modify</button></td>
            <td><button class='button button-glow button-rounded button-caution' (click)=deleteChannel(channelT)>Del</button></td>
          </tr>
          <tr>
            <td><input name="channelName" type="text" class="form-control name" [(ngModel)]="newChannelT.channelName" [ngModelOptions]="{standalone: true}" /></td>
            <td><input type="text" class="form-control description" [(ngModel)]="newChannelT.description" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="checkbox" data-toggle="toggle"></td>
            <td><button class='button button-glow button-rounded button-royal' (click)=newChannel()>Add</button></td>
            <td></td>
          </tr>
        </table>       

        <!-- Channel Voice -->
        <div class="title_channel" (click)="hideVoice()">
          <div class="label">Channel Voice</div>
          <div class="hide-mod" *ngIf="hideV === true">+</div>
          <div class="hide-mod" *ngIf="hideV === false">-</div>
          </div>
        <table class="table table-hover" *ngIf="hideV !== true">
          <thead>
            <td>Name</td> <td> description </td> <td>private</td><td></td><td></td>
          </thead>
          <tr *ngFor="let channelV of channelsVoice" id="{{'channel' + channelV._idChannel}}"
        (click)="channelClick(channelT._idChannel)">
            <td><input name="channelName" type="text" class="form-control name" [(ngModel)]="channelV.channelName" [ngModelOptions]="{standalone: true}" /></td>
            <td><input type="text" class="form-control description" [(ngModel)]="channelV.description" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="checkbox" checked data-toggle="toggle"></td>
            <td><button class='button button-glow button-rounded button-royal' (click)=modifyChannel(channelV)>Modify</button></td>
            <td><button class='button button-glow button-rounded button-caution' (click)=deleteChannel(channelV)>Del</button></td>
          </tr>
          <tr>
            <td><input name="channelName" type="text" class="form-control name" [(ngModel)]="newChannelV.channelName" [ngModelOptions]="{standalone: true}" /></td>
            <td><input type="text" class="form-control description" [(ngModel)]="newChannelV.description" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="checkbox" data-toggle="toggle"></td>
            <td><button class='button button-glow button-rounded button-royal' (click)=newChannel()>Add</button></td>
            <td></td>
          </tr>
        </table>

        <!-- Channel Video -->
        <div class="title_channel" (click)="hideVideo()">
          <div class="label">Channel Video</div>
          <div class="hide-mod" *ngIf="hideVi === true">+</div>
          <div class="hide-mod" *ngIf="hideVi === false">-</div>
          </div>
        <table class="table table-hover" *ngIf="hideVi !== true">
          <thead>
            <td>Name</td> <td> description </td> <td>private</td><td></td><td></td>
          </thead>
          <tr *ngFor="let channelV of channelsVideo" id="{{'channel' + channelV._idChannel}}"
        (click)="channelClick(channelT._idChannel)">
            <td><input name="channelName" type="text" class="form-control name" [(ngModel)]="channelV.channelName" [ngModelOptions]="{standalone: true}" /></td>
            <td><input type="text" class="form-control description" [(ngModel)]="channelV.description" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="checkbox" checked data-toggle="toggle"></td>
            <td><button class='button button-glow button-rounded button-royal' (click)=modifyChannel(channelV._idChannel)>Modify</button></td>
            <td><button class='button button-glow button-rounded button-caution' (click)=deleteChannel(channelV._idChannel)>Del</button></td>
          </tr>
          <tr>
            <td><input name="channelName" type="text" class="form-control name" [(ngModel)]="newChannelVi.channelName" [ngModelOptions]="{standalone: true}" /></td>
            <td><input type="text" class="form-control description" [(ngModel)]="newChannelVi.description" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="checkbox" data-toggle="toggle"></td>
            <td><button class='button button-glow button-rounded button-royal' (click)=newChannel()>Add</button></td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>

    <div id="client" *ngIf="nav === 'client'">
      <form>
        <br /><br />
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

  <div id="right" *ngIf="nav === 'right'">
      <form>
        <br /><br />
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>
  </div>
</div>
