<div id="settingPage">
  <div id="navigation">
    <ul>
      <li class='' [routerLink]="['/organisation']" >go back</li>
      <li class='' (click)="profilClick()">Profil</li>
      <li class='' (click)="organisationClick()">Organisation</li>
      <li class='' (click)="channelClick()">Channel</li>
      <li class='' (click)="clientClick()">Client</li>
    </ul>
  </div>
  <div id="content">
    <div id="profil" *ngIf="nav === 'profil'">
      <form>
        <label>Change your avatar</label>
        <br />
        <label> Change your nickname</label>
        <br />
        <input type="text" class="form-control" />
        <br />
        <label>Change password</label>
        <br />
        <input type="password" class="form-control" />
        <br /><br />
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

    <div id="organisation" *ngIf="nav === 'organisation'">
      <form>
        <br /><br />
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

    <div id="channel" *ngIf="nav === 'channel'">
<form>
        <label>Create new channel</label>
        <br /><br />
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

    <div id="client" *ngIf="nav === 'client'">
      <form>
        <br /><br />
        <button class='button button-glow button-rounded button-royal'>Submit</button>
      </form>
    </div>

  </div>
</div>
