@import '../../style/var';

//Main

#settingPage{
  display: flex;
  height: 100%;
}

// Organisation Nav

#navigation{
  display: flex;
  width: 150px;
  background-color: $grey2;
  ul{
    list-style: none;
    padding: 0;
    li{
      padding-top: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
      width:150px;
    }
    .liFocus{
      background-color: $grey3;
    }
  }
}

#content{
  display: flex;
  width: 100%;
  div{
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  label{
    color: $grey4;
    font-size: 1.1em;
  }

  .table-hover>tbody>tr:hover {
    background-color: $grey4;
  }
}