<div id="navigation">
  <div id="serverNav" class=''>
    <div id="server1" class='server serverFocus'>
      <div id="logo1">SV1
      </div>
    </div>
        <div id="server1" class='server'>
      <div id="logo1">SV2
      </div>
    </div>
  </div>

  <div id="chanelNav">
    <p class='title'>Chanel Text</p>
    <div id="chanel1" class='chanel'><label>Chanel 1</label></div>
    <div id="chanel2" class='chanel chanelFocus'><label>Chanel 2</label></div>
    <div id="chanel3" class='chanel'><label>Chanel 3</label></div>
    <p class='title'>Chanel VoIP</p>
  </div>
</div>
