<div id="mainPage">
  <div id="navigation">
    <div id="serverNav" class=''>
      <div *ngFor="let server of servers" id="{{'server' + 'server.id'}}" class="{{server.status}}" (click)="serverClick(server.id)">
        <div id="logo1">
          {{server.domainMin}}
        </div>
      </div>
    </div>
    <div id="chanelNav">
      <p class='title'>CHANEL TEXT</p>
      <div *ngFor="let chanelT of chanelsText" id="{{'chanel' + 'chanelT.id'}}" class="{{chanelT.status}}" (click)="chanelTextClick(chanelT.id)"><label>{{chanelT.chanelName}}</label></div>
      <p class='title'>CHANEL VOICE</p>
      <div *ngFor="let chanelV of chanelsVoice" id="{{'chanel' + 'chanelV.id'}}" class="{{chanelV.status}}" (click)="chanelVoiceClick(chanelV.id)"><label>{{chanelV.chanelName}}</label></div>
    </div>
  </div>
  <div id="chanelArea">
    <div id="message">

    </div>
    <div id="userMessage">
      <form>
        <input id="msg" type="text" class="form-control" placeholder="Send a message" >
      </form>
    </div>
  </div>
  <div id="lastFrame">
  </div>
</div>