@import '../../style/var';

//Main

#mainPage{
  display: flex;
  height: 100%;
  justify-content: space-between;
}

// Server Nav

#navigation{
  display: flex;
  width: 225px;
}

#serverNav{
  //display: table-cell;
  order: 1;
  height:100%;
  background-color: $grey1;
  vertical-align: top;
  text-align: center;
  width: 75px;
}

.server{
    background-color: $grey1;
    padding: 0.5em;
    color: $grey3;
}

.serverFocus{
  background-color: $grey2;
  color: white;
}

#chanelNav{
  order: 2;
  height:100%;
  background-color: $grey2;
  width: 150px;
}

.chanel{
    background-color: $grey2;
    padding: 0.5em;
    color: $grey5;
}

.chanelFocus{
  background-color: $grey3;
  border-left: 3px solid $royal;
  color: white;
}

.title{
  color:$grey5;
  padding-top:0.5em;
  text-align: center;
}

// text
#chanelArea{
  display: flex;
  background-color: $grey4;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

#message{
  height: 70%;
}

#userMessage{
  height: 10%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

// last

#lastFrame{
  width: 200px;
  background-color: $grey2;
}