@import '../../style/var';

//Main

#mainPage{
  display: flex;
  height: 100%;
  justify-content: space-between;
}

// Organisation Nav

#navigation{
  display: flex;
  width: 250px;
}

#organisationNav{
  //display: table-cell;
  height:100%;
  background-color: $grey1;
  vertical-align: top;
  text-align: center;
  width: 75px;
}

.organisation{
    background-color: $grey1;
    padding: 0.5em;
    color: $grey6;
}

.organisationFocus{
  background-color: $grey2;
  color: white;
}

#channelNav{
  height:100%;
  background-color: $grey2;
  width: 175px;
}

.channel{
    background-color: $grey2;
    padding: 0.5em;
    color: $grey5;
    display: flex;
    justify-content: space-between;
}

.channelFocus{
  background-color: $grey3;
  border-left: 3px solid $royal;
  color: white;
}

.title{
  color:$grey5;
  padding-top:0.5em;
  text-align: center;
}

.img-set{
  width: 20px;
  height: 20px;
}

// text
#channelArea{
  display: flex;
  background-color: $grey4;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

#message{
  height: 80%;
  overflow-x: hidden;
}

#userMessage{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

// message

#channelTitle {
  text-align: center;
  width: 100%;
  padding: 20px;
  margin: 0;
  position: relative;
}

.message{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid $grey5;
}

.avatar {
  width: 50px;
  height: 50px;
  text-align: center;
}

#userContent{
  margin-top: 10px;
}

.content {
  color: $grey6;
  width: 100%;
}

// last

#lastFrame{
  min-width: 200px;
  background-color: $grey2;
}

//scrollbar

#message::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#message::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#message::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}