<div id="mainPage">
  <div id="navigation">
    <div id="organisationNav" class=''>
      <div *ngFor="let organisation of organisations" id="{{'organisation' + organisation._idOrganisation}}" class="{{'organisation ' + organisation.status}}"
        (click)="organisationClick(organisation._idOrganisation)">
        <div id="logo1">
          {{organisation.avatar}}
        </div>
      </div>
    </div>
    <div id="channelNav" *ngIf="currentOrganisation != null">
      <p class='title'>CHANNEL TEXT</p>
      <div *ngFor="let channelT of channelsText" id="{{'channel' + channelT._idChannel}}" class="{{'channel ' + channelT.status}}"
        (click)="channelClick(channelT._idChannel)">
          <label>{{channelT.channelName}}</label>
          <img *ngIf="channelT.status === 'channelFocus'" src="img/settings.svg" class="img-set" />
          <img *ngIf="channelT.status === ''" src="img/settings-unfocus.svg" class="img-set" />
        </div>
      <p class='title'>CHANNEL VOICE</p>
      <div *ngFor="let channelV of channelsVoice" id="{{'channel' + channelV._idChannel}}" class="{{'channel ' +channelV.status}}"
        (click)="channelClick(channelV._idChannel)">
          <label>{{channelV.channelName}}</label>
          <img *ngIf="channelV.status === 'channelFocus'" src="img/settings.svg" class="img-set" />
          <img *ngIf="channelV.status === ''" src="img/settings-unfocus.svg" class="img-set" />
        </div>
        <p class='title'>CHANNEL VIDEO</p>
      <div *ngFor="let channelV of channelsVideo" id="{{'channel' + channelV._idChannel}}" class="{{'channel ' +channelV.status}}"
        (click)="channelClick(channelV._idChannel)">
          <label>{{channelV.channelName}}</label>
          <img *ngIf="channelV.status === 'channelFocus'" src="img/settings.svg" class="img-set" />
          <img *ngIf="channelV.status === ''" src="img/settings-unfocus.svg" class="img-set" />
        </div>
    </div>
  </div>
  <div id="channelArea" *ngIf="currentChannel != null">
    <h3 id="channelTitle">#{{channelTitle}}</h3>
    <div #message id="message">
      <div *ngFor="let msg of messages" class="message">
        <div id="userAvatarMsg" class="avatar">
          <!-- {{msg.creator.avatar}} -->
          <img src="img/avatar/boy.svg" />
        </div>
        <div id="UserContent">
          <div id="userMsg" class='user'>
            {{msg.creator.userName + ' ' + msg.date}}
          </div>
          <div id="contentMsg" class='content'>
            <p>{{msg.content}}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="userMessage">
      <input type="text" class="form-control" placeholder="Send a message" [(ngModel)]="content" (keyup.enter)="addMessage()">
    </div>
  </div>
  <div id="lastFrame">
  </div>
</div>