// component styles are encapsulated and only applied to their components
$white: #FFF;

$header: #40335A;

$background: #262A2B;

$greyFocus: #C9CDD1;
$greyUnfocus: #4E5967;

.main{
  text-align: center;
  margin-top: 20%;
}

.tips{
  color: $greyUnfocus;
}
