<header>
  <div id="container-nav-user">
    <nav>
      <a [routerLink]="['']" class='noDrag'>Popcube</a>
    </nav>

    <div id="manager-user">
      Ceylass
    </div>
  </div>

  <div id="manager-channel">
    <!-- todo bindig channelTitle -->
    <div class="channelTitle">
      {{channelTitle}}
    </div>
  </div>
  <div id="container-organisation-window">
    <div class="manager-organisation">
      <div id="settings-organisation">
        s
      </div>
    </div>
    <div id="manager-window">
        <div class='mg-win noDrag' (click)="minimize()"><img src="img/substract.svg" class='mg-img'/></div>
        <div class='mg-win noDrag' (click)="maximize()"><img src="{{img}}" class='mg-img'/></div>
        <div class='mg-win noDrag' (click)="close()"><img src="img/cancel.svg" class='mg-img'/></div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>
