// styles applied on :host are applied on the current component, "app" in this case
$white: #FFF;

$header: #40335A;

$background: #262A2B;

$greyFocus: #C9CDD1;
$greyUnfocus: #4E5967;

:host {
  display: block;
}

header {
  background-color: $header;
  padding: 16px;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  height: calc(100% - 51px);
}

footer {
  text-align: center;
  font-size: 0.8em;
}
