<header>
  <nav>
    <a [routerLink]="['']" class='noDrag'>Popcube</a>
  </nav>
  <div id="manager-window">
      <div class='mg-win noDrag' (click)="minimize()"><img src="img/substract.svg" width="70%" height="70%"/></div>
      <div class='mg-win noDrag' (click)="maximize()"><img src="{{img}}" width="70%" height="70%"/></div>
      <div class='mg-win noDrag' (click)="close()"><img src="img/cancel.svg" width="70%" height="70%"/></div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>
